*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(9, 9, 79);
    color: aliceblue;
}

a{
    text-decoration: none;
    color: goldenrod;
    transition: .5s;
}

a:hover{
    color: darkgoldenrod;
}